
#christmasBanner{
	position: fixed;
	top: 0px;
	width: 100%;
	height: 7%;
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	padding-top: 2%;
	color: white;
	font-size: 4vh;
	z-index: 2; /*Z index orders what goes on top of what*/
	background-color: rgba(255, 0, 0, 0.6);
}


#bottomContainer {
	display: inline-block;
	position: sticky;
	overflow: visible;
	height: 7%;
	width: 100%;
	z-index: 2; /*should be 2*/
	background-color: rgba(20, 20, 20, 0.6);
	bottom: 0px;
	border: none;
}


#textContainer {
	display: inline-block;
	height: 100%;
	width: 65%;
	color: rgb(220, 220, 220);
	font-family: 'Cabin', sans-serif;
	padding-top: 0px;
	font-size: 2.7vh;
	text-align: center;

}

button:focus {outline:0;}


#snowButton {
	display: inline-block;
	height: 100%;
	width: 35%;
	border: none;
	font-family: 'Fjalla One', sans-serif;
	padding-top: 2%;
	font-size: 3vh;
	color: white;
	background-color: rgb(80, 125, 175);

}


#snowCanvas {
	display: fixed;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*background-color: rgba(50, 50, 50, 0.6);*/
	bottom: 0px;
	border: none;
	position: sticky;
}


footer{
	width: 100%;
	height: 30px;
	background-color: red;
	z-index: 2;
	padding-top: 50px;
}



